<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CAMINHO_LOG" value="\\\\tibrsp-v0034\\Publicacaoes\\bvpnext\\dev\\logs\\" />    
    <add key="LogServico" value="SVBatchLogs.txt" />
    <add key="TamanhoMaxArquivoLog" value="3145728" />    
    <add key="URL_API_BASE_FERIADO" value="http://localhost:23731/api/v1/feriados" />
    <add key="URL_API_BASE_SCHEDULER" value="http://localhost:23731/api/v1/scheduler" />    
    <add key="URL_API_OAUTH" value="http://dsv.api.bvpnext/api/v1/account/" />
    <add key="USER_EMAIL" value="processosbatch@gmail.com" />
    <add key="USER_LOGIN" value="user_batch" />
    <add key="USER_NOME" value="" />
    <add key="USER_SISTEMAID" value="FB906D64-A2CA-4FA9-93D5-97D09CB8E83A" />
    <add key="USER_PERFIL" value="1" />
    <add key="USER_GRUPO" value="1" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>